*{
    margin: 0;
    padding: 0;
    font-family:  "Milonga", serif;
    box-sizing: border-box;
}

/* Categorias */

.texto_categ{
    text-align: center;
    font-size: 45px;
    padding: 40px 0 0 0;
    color: rgb(85, 6, 6);
   
}
h4{
    text-align: center;
    font-size: 18px;
    padding: 0 0 50px 0;
    margin-top: 20px;
    color: rgba(10, 10, 10, 0.719);
    
}
.subcategoria{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 500px;
    padding: 10px 100px;
    grid-gap: 20px;
}
.img_moda{
    position: relative;
}

.galeria_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.titulo_img{
    position: absolute;
    top: 200px;
    margin: 0;
    
    background: linear-gradient(rgba(214, 214, 214, 0.479), rgba(158, 158, 158, 0.61));
    width: 100%;
    padding: 20px;
   
}

.titulo_img h2{
    font-size: 30px;
    margin-bottom: 10px;
    
}
.titulo_img h5{
    font-size: 13px;
    color: rgba(102, 6, 6, 0.801);
    margin-bottom: 20px;
}
.titulo_img a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin: 0 0 0 40px;
    padding: 5px;
    border-bottom: solid 2px #570303 ;
}
@media screen and (max-width: 780px){
   
    .subcategoria{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 300px;
    }
    .titulo_img{
        top: 0px;
        background: linear-gradient(rgba(214, 214, 214, 0.774), rgba(158, 158, 158, 0.61));
    }
    .titulo_img h2{
        font-size: 28px;
    }
    .titulo_img h5{
        font-size: 12px;
    }
}


/* SESION DE PRODUCTOS */

.sesion_productos{
    margin: 0;
}

.titulo_produc{
    text-align: center;
    font-size: 20px;
    margin: 40px 0 10px 0;
   
}

.subproductos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.contenido_producto{
    width: 20%;
    height: 420px;
    margin: 10px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #f1efef;
}
.contenido_producto:hover{
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -30px);  
}

.img_produc{
    width: 300px;
    height: 210px;
    text-align: center;
    margin: 0 auto;
    padding: 0 30px 0 0 ;
    display: block  ;
}
span{
   margin: 20px 0 0 0 ;
}
.puntaje{
    color: #770808;
    margin: 10px 0 20px 0;
}
.btn_1{
    width: 60%;
    padding: 10px;
    font-size: 15px;
    background: #520303e7;
    border: none;
    border-radius: 50px;
    color: #f1efef;
}
.btn_1:hover{
    background: #960303f6;
}

@media screen and (max-width: 780px){
   .subproductos{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
   }
   .contenido_producto{
    width: 70%;
    padding: 0;
   }
   .img_produc{
    width: 60%;
    height: 50%;
   }
}
/* Sesion publicidad */

.publicidad{
    background: #000000ea;
    height: 100%;
    padding: 30px ;
   
}
.galeria-img{
    width: 90%;
    max-width: 1100px;
   margin: 28px auto;
    gap: 30px;
    display: grid;
    /* Auto fit rellana las columnas que necesita*/
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.galeria-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sesion nosotrso  */

.nosotros{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.contenido_nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.img_nosotros{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.img_nosotros img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.img_nosotros:hover img{
     transform: scale(1.2);
}

.texto_nosotros{
    flex: 1;
}

.texto_nosotros .texto_nos{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.texto_nosotros p{
    font-size: 16px;
    line-height: 1.5;
    color: #444444;
    text-align: justify;
}




/* RESPONSIVE SESION NOSOTOS */

@media screen and (max-width: 700px){
    .nosotrso{
        padding: 0 20px;
    }
    .nosotrso .texto_categ{
        font-size: 36;
    }
    .nosotros p{
        font-size: 17px;
        margin-bottom: 0;
    }
    .contenido_nosotros{
        padding: 20px;
        flex-direction: column;
    }

    .img_nosotros{
        margin-right: 0;
        margin-bottom: 20px;
    }  
    .texto_nosotros p{
        font-size: 14px;
        padding: 0;
    }
}

/* Sesion footer  */


footer{
    background-color:  #470606;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 20px;
}
  


  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .company-logo {
    max-width: 150px; 
    height: auto; 
    display: block;
    margin: 0 auto; 
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #fdd835;
  }
  
  .social-icons a img:hover {
    transform: scale(1.1);
  }

  .payment-methods {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .payment-methods img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .payment-methods img:hover {
    transform: scale(1.1);
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    color: #fdd835;
  }
  
  p {
    margin: 5px 0;
    font-size: 16px;
  }